<section id="downloads">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 topic">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>Download เอกสาร</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 seperate">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <ul class="square">
                    <li>
                        <a href="https://drive.google.com/file/d/0By5NmZH6ZuiDSlVLMlNOR2NGRWM/view" target="_blank">ชื่อยาภาษาไทย โดย กลุ่มโรงพยาบาล UHosNet</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
