<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 topic">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>คำถามที่พบบ่อย</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <p class="question">
                    <img src="/images/faq/pt1.png" alt="">
                    <label> Q1 การใช้ยาอย่างสมเหตุผล คืออะไร</label>
                </p>
                <div class="answer">
                    <table>
                        <tr>
                            <td class="text">การใช้ยาโดยมีข้อบ่งชี้ เป็นยาที่มีคุณภาพมีประสิทธิผลจริง ให้ประโยชน์เหนือกว่าความเสี่ยงอย่างชัดเจน มีราคาเหมาะสม โดยใช้ยาในขนาดที่พอเหมาะ ด้วยวิธีการให้ยาและความถี่ที่ถูกต้อง ด้วยระยะเวลารักษาที่เหมาะสม ผู้ป่วยให้การยอมรับและใช้ยาได้อย่างถูกต้องและต่อเนื่อง</td>
                            <td class="image"><img src="/images/faq/dr.png" alt=""></td>
                        </tr>
                    </table>
                </div>
                <p class="question">
                    <img src="/images/faq/pt2.png" alt="">
                    <label>Q2 โครงการนี้จัดทำขึ้นเพื่อวัตถุประสงค์ใด</label>
                </p>
                <div class="answer">
                    <table>
                        <tr>
                            <td class="text">เพื่อแก้ปัญหาการใช้ยาอย่างไม่สมเหตุผล และการแก้ไขปัญหาอย่างเป็นระบบ</td>
                            <td class="image"><img src="/images/faq/dr.png" alt=""></td>
                        </tr>
                    </table>
                </div>
                <p class="question">
                    <img src="/images/faq/pt1.png" alt="">
                    <label>Q3 ใครจะได้ประโยชน์จากโครงการนี้</label>
                </p>
                <div class="answer">
                    <table>
                        <tr>
                            <td class="text">ประชาชน หรือผู้รับบริการทางการแพทย์ และโรงพยาบาลที่เข้าร่วมโครงการ รวมถึงบุคลากรทางการแพทย์ ทั้งแพทย์ พยาบาล และเภสัชกร</td>
                            <td class="image"><img src="/images/faq/dr.png" alt=""></td>
                        </tr>
                    </table>
                </div>
                <p class="question">
                    <img src="/images/faq/pt2.png" alt="">
                    <label>Q4 วิธีง่ายๆ ในการใช้ยาอย่างสมเหตุผล</label>
                </p>
                <div class="answer">
                    <table>
                        <tr>
                            <td class="text">ใช้ยาตามคำแนะนำของแพทย์ ใช้ยาอย่างต่อเนื่อง ไม่หยุดยาหรือปรับขนาดยาเอง ไม่ควรซื้อยา อาหารเสริมหรือสมุนไพรมารับประทานเอง หากมีข้อสงสัยเกี่ยวข้องกับยา การใช้ยา หรือผลข้างเคียงจากยา ควรปรึกษาแพทย์หรือเภสัชกร</td>
                            <td class="image"><img src="/images/faq/dr.png" alt=""></td>
                        </tr>
                    </table>
                </div>
                <p class="question">
                    <img src="/images/faq/pt1.png" alt="">
                    <label>Q5 ถ้าต้องการหาความรู้เพิ่มเติมเกี่ยวกับการใช้ยาอย่างสมเหตุผล สามารถทำได้อย่างไร</label>
                </p>
                <div class="answer">
                    <table>
                        <tr>
                            <td class="text">สามารถสืบค้นข้อมูลเบื้องต้นได้จากภายในเว็บไซต์นี้ หรือสอบถามได้ทางคณะทำงานโรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล</td>
                            <td class="image"><img src="/images/faq/dr.png" alt=""></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
