<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>WELCOME TO <br />
                    RATIONAL DRUG USE HOSPITAL</h1>
                    <h3>"โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล"</h3>
                </div>
                <div class="slide-image">
                    <img src="images/home/slider/lay1.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/lay3.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/lay2.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/lay4.png" class="slider-birds1" alt="slider image">
                </div>
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->
<section id="keys">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-10 col-xs-10">
                    <h2>กุญแจสำคัญ 6 ประการ</h2>
                </div>
                <div class="col-md-2 col-xs-2 key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_p.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded green">
                    <div>Pharmacy and Therapeutics Committee (PTC) Strengthening สร้างเสริมความเข้มแข็งของคณะกรรมการเภสัชกรรมและการบำบัด
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_l.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded blue">
                    <div>Labeling and Leaflet for Patient Information จัดทำ ฉลากยา ฉลากยาเสริม ให้เข้าใจง่ายและเพียงพอ เพื่อให้ผู้ป่วยได้รับข้อมูลเกี่ยวกับยา ที่ถูกต้องและปลอดภัยมากขึ้น
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_e.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded green">
                    <div>Essential RDU Tools สั่งใช้ยาอย่างสมเหตุผลในโรคที่พบบ่อย เน้นกลุ่มเป้าหมายในโรคไม่ติดต่อเรื้อรัง 6 ภาวะ ได้แก่ ความดันเลือดสูง เบาหวาน ไขมันในเลือดสูง ข้อเสื่อม โรคไตเรื้อรัง โรคปอดอุดกั้นเรื้อรัง โรคติดเชื้อใน ภาวะ ได้แก่ โรคติดเชื้อที่ระบบการหายใจช่วงบนและหลอดลมอักเสบเฉียบพลัน โรคอุจจาระร่วงเฉียบพลัน บาดแผลสดจากอุบัติเหตุ และการป้องกันการติดเชื้อในสตรีคลอดปกติครบกำหนดทางช่องคลอด และดำเนินการให้มียาในบัญชียาหลักของโรงพยาบาล</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_a.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded blue">
                    <div>Awareness for RDU Principles among Health Personnel and Patients สร้างความตระหนักรู้และการปฏิบัติตามของบุคลากรทางการแพทย์และผู้รับบริการต่อการใช้ยาอย่างสมเหตุผล</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_s.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded green">
                    <div>Special Population Care ดูแลให้เกิดความปลอดภัยด้านยาในประชากรกลุ่มพิเศษ ได้แก่ ผู้สูงอายุ สตรีตั้งครรภ์ สตรีให้นมบุตร ผู้ป่วยเด็ก ผู้ป่วยโรคตับ และผู้ป่วยโรคไตเรื้อรัง</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_e.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded blue">
                    <div>Ethics in Prescription ส่งเสริมการบริหารจัดการยาที่โปร่งใส เป็นไปตามเกณฑ์จริยธรรมว่าด้วยการส่งเสริมการขายยาของประเทศไทย และใช้ยาแก่ผู้ป่วยตามหลักเวชจริยศาสตร์</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 align-right link">
                <a href="/keys">อ่านต่อ &gt;&gt;</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 seperate">
            </div>
        </div>
</section>
<section id="postboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>เรื่องน่าสนใจ</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-6 col-xd-offset-1">
                    <span>การใช้ยาในผู้ป่วยกลุ่มพิเศษ</span>
                    <div>
                        <image src="/images/home/spec_pop.png" alt="การใช้ยาในผู้ป่วยกลุ่มพิเศษ">
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                        <image src="/images/alert.png" alt="MedWatch by U.S. FDA" width="54">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" style="color: red;">
                        <a href="http://www.fda.gov/Safety/MedWatch/" target="_blank">
                            <label>MedWatch by U.S. FDA</label>
                        </a>
                        <br />
                        <span style="font-style: italic;">Safety Information and Adverse Event Reporting Program</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>สื่อมัลติมีเดีย</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content text-center">
                <iframe src="https://www.youtube.com/embed/HfgwDM250b0?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/2qOVMs4H2Sw?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-12 col-xs-12 text-center link">
                <a href="/multimedia">ดูทั้งหมด</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 seperate">
            </div>
        </div>
    </div>
</section>
<section id="downloads">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>เรียนรู้ด้วยตนเอง (Self learning course)</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="#downloads">
                        <div><img src="/images/downloads/book.png"></div>
                        <label>เนื้อหาหลักสูตร</label>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="#downloads">
                        <div><img src="/images/downloads/presenting.png"></div>
                        <label>e-learning</label>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="/downloads">
                        <div><img src="/images/downloads/downloads.png"></div>
                        <label>download เอกสาร</label>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 seperate">
            </div>
        </div>
    </div>
</section>
<section id="provider">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>จัดทำโดย</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content text-center">
                <table class="col-md-12 col-sm-12 col-xs-12">
                    <tr>
                        <td><img src="/images/home/logo/Uhosnet.png" alt="Uhosnet"></td>
                        <td><img src="/images/home/logo/si.png" alt="Siriraj"></td>
                        <td><img src="/images/home/logo/raj.png" alt=""></td>
                        <td><img src="/images/home/logo/ped.png" alt=""></td>
                        <td><img src="/images/home/logo/wa.png" alt=""></td>
                        <td><img src="/images/home/logo/mu.png" alt=""></td>
                        <td><img src="/images/home/logo/tu.png" alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td><img src="/images/home/logo/swu.png" alt=""></td>
                        <td><img src="/images/home/logo/cu.png" alt=""></td>
                        <td><img src="/images/home/logo/psu.png" alt=""></td>
                        <td><img src="/images/home/logo/rama.png" alt=""></td>
                        <td><img src="/images/home/logo/ku.png" alt=""></td>
                        <td><img src="/images/home/logo/nu.png" alt=""></td>
                        <td><img src="/images/home/logo/bu.png" alt=""></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>สนับสนุนโดย</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <div class="col-md-6 col-sm-6 col-xs-6 text-right"> <img src="/images/home/logo/HSRI.png" alt=""></div>
                <div class="col-md-6 col-sm-6 col-xs-6"><img src="/images/home/logo/GPO.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
