<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>WELCOME TO <br />
                    RATIONAL DRUG USE HOSPITAL</h1>
                    <h3>"โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผล"</h3>
                </div>
                <div class="slide-image">
                    <img src="images/home/slider/lay1.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/lay3.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/lay2.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/lay4.png" class="slider-birds1" alt="slider image">
                </div>
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->
<section id="keys">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-10 col-xs-10">
                    <h2>กุญแจสำคัญ 6 ประการ</h2>
                </div>
                <div class="col-md-2 col-xs-2 key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_p.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded green">
                    <div>Pharmacy and Therapeutics Committee (PTC) Strengthening สร้างเสริมความเข้มแข็งของคณะกรรมการเภสัชกรรมและการบำบัด
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_l.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded blue">
                    <div>Labeling and Leaflet for Patient Information จัดทำ ฉลากยา ฉลากยาเสริม ให้เข้าใจง่ายและเพียงพอ เพื่อให้ผู้ป่วยได้รับข้อมูลเกี่ยวกับยา ที่ถูกต้องและปลอดภัยมากขึ้น
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_e.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded green">
                    <div>Essential RDU Tools สั่งใช้ยาอย่างสมเหตุผลในโรคที่พบบ่อย เน้นกลุ่มเป้าหมายในโรคไม่ติดต่อเรื้อรัง 6 ภาวะ ได้แก่ ความดันเลือดสูง เบาหวาน ไขมันในเลือดสูง ข้อเสื่อม โรคไตเรื้อรัง โรคปอดอุดกั้นเรื้อรัง โรคติดเชื้อใน ภาวะ ได้แก่ โรคติดเชื้อที่ระบบการหายใจช่วงบนและหลอดลมอักเสบเฉียบพลัน โรคอุจจาระร่วงเฉียบพลัน บาดแผลสดจากอุบัติเหตุ และการป้องกันการติดเชื้อในสตรีคลอดปกติครบกำหนดทางช่องคลอด และดำเนินการให้มียาในบัญชียาหลักของโรงพยาบาล</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_a.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded blue">
                    <div>Awareness for RDU Principles among Health Personnel and Patients สร้างความตระหนักรู้และการปฏิบัติตามของบุคลากรทางการแพทย์และผู้รับบริการต่อการใช้ยาอย่างสมเหตุผล</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_s.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded green">
                    <div>Special Population Care ดูแลให้เกิดความปลอดภัยด้านยาในประชากรกลุ่มพิเศษ ได้แก่ ผู้สูงอายุ สตรีตั้งครรภ์ สตรีให้นมบุตร ผู้ป่วยเด็ก ผู้ป่วยโรคตับ และผู้ป่วยโรคไตเรื้อรัง</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 choose">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="images/home/typo_e.png">
                </div>
                <div class="col-md-10 col-xs-10 rounded blue">
                    <div>Ethics in Prescription ส่งเสริมการบริหารจัดการยาที่โปร่งใส เป็นไปตามเกณฑ์จริยธรรมว่าด้วยการส่งเสริมการขายยาของประเทศไทย และใช้ยาแก่ผู้ป่วยตามหลักเวชจริยศาสตร์</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 align-right link">
                <a href="/keys">อ่านต่อ &gt;&gt;</a>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 seperate">
            </div>
        </div>
</section>
<section id="downloads">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>เรียนรู้ด้วยตนเอง (Self learning course)</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="#downloads">
                        <div><img src="/images/downloads/book.png" /></div>
                        <label>เนื้อหาหลักสูตร</label>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="#downloads">
                        <div><img src="/images/downloads/presenting.png" /></div>
                        <label>e-learning</label>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <a href="/downloads">
                        <div><img src="/images/downloads/downloads.png" /></div>
                        <label>download เอกสาร</label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/icon1.png" alt="">
                    </div>
                    <h2>Incredibly Responsive</h2>
                    <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/icon2.png" alt="">
                    </div>
                    <h2>Superior Typography</h2>
                    <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/home/icon3.png" alt="">
                    </div>
                    <h2>Swift Page Builder</h2>
                    <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--/#services-->
<!-- <section id="action" class="responsive">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Triangle Corporate Template</h1>
                        <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--/#action-->
<!-- <section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Built for the Responsive Web</h2>
                    <P>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--/#features-->
<!-- <section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Happy Clients</h1>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        <br> Ut enim ad minim veniam, quis nostrud </p>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client1.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client2.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client3.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client4.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client5.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client6.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--/#clients-->
