<section id="keys-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h3>กุญแจดอกที่ 1</h3>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <label>การสร้างความเข้มแข็งของคณะกรรมการเภสัชกรรมและการบำบัด
                        <br />(Pharmacy and Therapeutics Committee (PTC) Strengthening) </label>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-3 align-right key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content">
                <p>ตั้งแต่ปี ค.ศ. 2002 องค์การอนามัยโลกได้ชี้ให้เห็นถึงความสำคัญของ การมีคณะกรรมการเภสัชกรรมและการบำบัดที่เข้มแข็งในสถานพยาบาล ซึ่งเป็นที่ ยอมรับในประเทศที่พัฒนาแล้วว่า เป็นปัจจัยสำคัญในการส่งเสริมให้เกิดการใช้ยา อย่างสมเหตุผลและคุ้มค่าขึ้นในสถานพยาบาล</p>
                <p>โครงการ RDU Hospital มีเป้าหมายในการสร้างเสริมคณะกรรมการ เภสัชกรรมและการบำบัดให้เป็นหน่วยปฏิบัติงานที่มีความเข้มแข็ง สามารถชี้นำ การจัดการด้านยาในองค์กรได้อย่างเหมาะสม และเป็นที่ยอมรับ โดยมีหน้าที่และ ความรับผิดชอบตามแนวทางขององค์การอนามัยโลก ในด้านต่างๆ ได้แก่</p>
                <p class="sub">
                    1. การพัฒนาระบบเพื่อการติดตาม ตรวจสอบ และส่งเสริมการใช้ยาอย่าง สมเหตุผล รวมถึงกำกับการปฏิบัติงานตามกรอบของกุญแจดอกที่ 2 ถึง 6 ให้ ดำเนินไปอย่างมีประสิทธิภาพ
                    <br />2. การจัดทำเภสัชตำรับ (hospital formulary) ที่มีความสอดคล้องกับ ปรัชญาและหลักการของบัญชียาหลักแห่งชาติ
                    <br />3. การสร้างความมั่นใจต่อคุณภาพยา (ensuring drug quality) แก่ผู้ใช้ยา
                    <br />4. การติดตามความปลอดภัยด้านยาและการดำเนินการป้องกันแก้ไข (ensuring drug use safety)
                    <br />5. การควบคุมค่าใช้จ่ายด้านยา (expenditure control)
                    <br />6. การฝึกอบรมบุคลากร (staff education)
                    <br />7. การควบคุมการส่งเสริมการขายของบริษัทยา เวชภัณฑ์และอุปกรณ์ ทางการแพทย์ (controlling of all promotion activities to staff)
                </p>
                <p>ปัจจัยที่มีความสำคัญอย่างยิ่งต่อความสำเร็จของการปฏิบัติงานตามภาระ และหน้าที่ของคณะกรรมการเภสัชกรรมและการบำบัด ประกอบด้วย การมีกำหนด มอบหมายถึงพันธกิจอย่างเป็นรูปธรรม (firm mandate) มีเป้าประสงค์ในการปฏิบัติงาน ที่ ชัดเจน ได้ รับการสนับสนุนจากผู้บริหารระดับสูงมี ความโปร่งใสในการปฏิบัติ งาน มีตัวแทนจากหลากหลายสาขาวิชาชีพ มีสมรรถนะที่เหมาะสมกับหน้าที่ ใช้องค์ความรู้ ที่อ้างอิงจากหลักฐานเชิงประจักษ์ ดำเนินงานภายใต้แนวทางสหสาขาวิชาชีพ (multidisciplinary approach) มีทรัพยากรเพียงพอที่จะดำเนินงาน และมีการประเมิน ติดตามหลังจากการนำนโยบายต่างๆ มาใช้จริง</p>
            </div>
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h3>กุญแจดอกที่ 2</h3>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <label>การจัดทำฉลากยา, ฉลากยาเสริม และข้อมูลยาสู่ประชาชน
                        <br />(Labeling and Leaflet for Patient Information) </label>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-3 align-right key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content">
                <p>ฉลากยาเป็นเครื่องมือหนึ่งที่มีความสำคัญต่อกระบวนการใช้ยาอย่าง เหมาะสมทั้งต่อผู้ป่วยที่จะช่วยให้ใช้ยาได้อย่างถูกต้องและปลอดภัย ต่อเภสัชกรที่ จะช่วยในการให้คำอธิบายที่ สำคัญเกี่ยวกับยาได้ อย่างมีประสิทธิภาพ และต่อแพทย์ ที่จะช่วยให้สั่งใช้ยาได้อย่างสมเหตุผลมากขึ้น</p>
                <p>โครงการ RDU Hospital มีเป้าหมายในการสนับสนุนให้ใช้ ฉลากยามาตรฐาน (RDU label) เพื่อให้ผู้ป่วยรับทราบข้อมูลที่สำคัญเกี่ยวกับยาได้อย่าง สะดวกและครบถ้วน ช่วยให้ผู้ป่วยใช้ยาได้อย่างถูกต้องและปลอดภัยมากขึ้น ทั้ง ช่วยให้เภสัชกรให้คำแนะนำได้ง่ายขึ้นเนื่องจากสามารถใช้ข้อความบนฉลากยามา ประกอบคำอธิบายได้โดยสะดวก นอกจากนั้น ฉลากยามาตรฐานในปัจจุบันมีขนาด เล็กไม่สามารถบรรจุข้อมูลสำคัญที่ผู้ป่วยควรทราบของยาแต่ละชนิด ซึ่งอาจแก้ไข โดยการใช้ฉลากยาเสริม (extended label) ซึ่งมีขนาดใหญ่ขึ้นและสามารถแนบ หรือแปะติดเป็นสติกเกอร์ไปกับซองยาที่ผู้ป่วยได้รับจากสถานพยาบาล เพื่อเพิ่ม ข้อมูลที่สำคัญแก่ผู้ป่วย ซึ่งอาจมีความสำคัญต่อการส่งเสริมให้เกิดการใช้ยาได้อย่าง เหมาะสมยิ่งขึ้น</p>
                <p>เอกสารข้อมูลยาสำหรับประชาชน (patient information leaflet หรือ PIL) เป็นเอกสารที่จะจัดทำขึ้นภายใต้โครงการของสำนักงานคณะกรรมการอาหาร และยา เพื่อให้บริษัทยานำไปใช้เป็นต้นแบบในการผลิตและส่งมอบไปพร้อมกับ ผลิตภัณฑ์ของตน หัวข้อของเอกสารข้อมูลยาสำหรับประชาชนประกอบด้วย ยานี้ คือยาอะไร ข้อควรรู้ก่อนใช้ยา วิธีใช้ยา ข้อควรปฏิบัติระหว่างใช้ยา อันตรายที่อาจ เกิดจากยา และควรเก็บรักษายานี้อย่างไร ในระหว่างที่โครงการดังกล่าวยังไม่ได้ ประกาศใช้อย่างเป็นทางการและการจัดทำเอกสารดังกล่าวยังไม่ครอบคลุมรายการ ยาที่เป็นเป้าหมายของโครงการ RDU Hospital จึงส่งเสริมให้โรงพยาบาลดำเนิน การให้ผู้ป่วยที่ประสงค์จะได้ข้อมูลเกี่ยวกับยาเพิ่มขึ้น สามารถเข้าถึงเอกสารดัง กล่าวได้สะดวกและทั่วถึง</p>
            </div>
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h3>กุญแจดอกที่ 3</h3>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <label>การจัดทำหรือจัดหาเครื่องมือจำเป็นที่ช่วยให้เกิดการสั่งใช้ยาอย่างสมเหตุผล
                        <br />(Essential RDU Tools) </label>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-3 align-right key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content">
                <p>ประกอบด้วยเครื่องมือที่สำคัญ 6 ประการ ได้แก่</p>
                <p class="sub">1. เป้าหมายในการรักษา (Goal, G) และคำแนะนำการใช้ยาในกลุ่มยา เป้าหมายซึ่งสอดคล้องกับหลักฐานเชิงประจักษ์ที่เป็นปัจจุบัน และเหมาะสมกับ บริบทในการปฏิบัติงานของแต่ละสถานพยาบาล (Recommendation, R)
                    <br />2. เภสัชตำรับที่รายการยาถูกคัดเลือกอย่างโปร่งใส โดยใช้หลักเกณฑ์ที่ สอดคล้องกับหลักฐานเชิงประจักษ์ และหลักฐานด้านความคุ้มค่า
                    <br />3. แนวทางการส่งตรวจและการตรวจทางห้องปฏิบัติการที่จำเป็นต่อการ วินิจฉัยโรคเป้าหมาย และการติดตามผลการรักษาที่สอดคล้องกับระดับของสถาน พยาบาล (Monitoring, M)
                    <br />4. การจัดหาหรือจัดทำระบบข้อมูลอิเล็กโทรนิคส์ด้านยาและการรักษา โรค ที่จำเป็นต่อการใช้ยาอย่างสมเหตุผล
                    <br />5. ระบบและวิธีการปฏิบัติในการประเมินและการติดตามผลการใช้ยา รวมทั้งการให้ข้อมูลย้อนกลับแก่ผู้สั่งใช้ยา
                    <br />6. นโยบายด้านยาที่จำเป็นต่อระบบการใช้ยาที่สมเหตุผล ได้แก่ นโยบาย การใช้ยาตามบัญชียาหลักแห่งชาติ นโยบายการสั่งใช้ยาด้วยชื่อสามัญทางยา และ นโยบายการใช้ยาในผู้ป่วยสิทธิรักษาพยาบาลกลุ่มต่างๆ อย่างเท่าเทียมกัน (Policy, P)</p>
                <p>ทั้งนี้ สถานพยาบาลควรมีการประเมินพัฒนาระบบยาและการใช้ยา อย่างสมเหตุผลอย่างสม่ำเสมอและต่อเนื่อง เช่น ให้มีการตรวจทานยาและการให้ ข้อมูลย้อนกลับแก่ผู้สั่งใช้ยาก่อนการส่งมอบหรือการให้ยาแก่ผู้ป่วย โดยมีระบบการ บันทึกและรายงานผลการปฏิบัติงานต่อคณะกรรมการเภสัชกรรมและการบำบัด เพื่อติดตามและป้องกันไม่ให้เกิดปัญหาเดิมซ้ำอีก เป็นต้น</p>
                <p>โครงการ RDU Hospital ได้จัดทำคำแนะนำและตัวชี้วัดสำหรับโรคที่พบ บ่อยในเวชปฏิบัติ โดยแบ่งเป็น 2 กลุ่มโรค คือ โรคติดเชื้อ (Responsible use of antibiotics; RUA) และโรคไม่ติดต่อเรื้อรัง (Non-communicable disease; NCD) รวม 6 ประเภท ได้แก่ 1) ความดันเลือดสูง 2) เบาหวาน 3) ไขมันในเลือดสูง 4) ข้อเสื่อม/เกาต์ 5) โรคไตเรื้อรัง และ 6) โรคปอดอุดกั้นเรื้อรัง/โรคหืด โดยมี ขั้นตอนดังนี้</p>
                <p class="sub" />1. ยกร่างคำแนะนำฯ โดยคณะทำงานเฉพาะกิจ ซึ่งมีองค์ประกอบ ได้แก่ แพทย์และเภสัชกรจากเครือข่ายโรงพยาบาล กลุ่มสถาบันแพทยศาสตร์แห่ง ประเทศไทย ผู้แทนแพทย์จากราชวิทยาลัย แพทย์และ/หรือเภสัชกรจากโรงพยาบาล สังกัดกระทรวงสาธารณสุข อาจารย์จากคณะเภสัชศาสตร์ และผู้แทนคณะทำงาน ผู้เชี่ยวชาญการคัดเลือกยาในบัญชียาหลักที่เกี่ยวข้อง โดยให้ครอบคลุมถึงเครื่องมือ ที่สำคัญทั้ง 6 ประการดังกล่าวข้างต้น พร้อมตัวชี้วัดที่เหมาะสม ในระยะเริ่มโครงการฯ (Indicator, I)
                <br />2. นำร่างคำแนะนำฯ รับฟังความคิดเห็นในช่องทางต่างๆ จากโรง พยาบาลนำร่อง ราชวิทยาลัย สมาคมวิชาชีพ คณะผู้เชี่ยวชาญ และตัวแทนผู้ปฏิบัติ
                <br />3. คณะทำงานเฉพาะกิจ นำความเห็นไปพิจารณา จัดทำเป็นแนวทางฉบับสมบูรณ์
                </p>
            </div>
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h3>กุญแจดอกที่ 4</h3>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <label>การสร้างความตระหนักรู้ของบุคลากรทางการแพทย์และผู้รับ บริการต่อการใช้ยาอย่างสมเหตุผล
                        <br />(Awareness for RDU Principles among Health Personnel and Patients) </label>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-3 align-right key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content">
                <p>การสร้างความตระหนักรู้ต่อการใช้ยาอย่างสมเหตุผลในบุคลากรทางการ แพทย์และผู้รับบริการ และเห็นถึงความสำคัญในเรื่องดังกล่าว เป็นปัจจัยสำคัญที่ จะทำให้โครงการโรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผลเป็นที่ยอมรับ และ นำไปปฏิบัติได้อย่างยั่งยืน ส่งผลให้ผู้รับบริการได้รับเฉพาะยาจำเป็นที่มีคุณภาพ เกิดประสิทธิผลของการรักษาตามแนวทางการรักษามาตรฐานอย่างครบถ้วน ปลอดภัย และคุ้มค่า </p>
                <p>โครงการ RDU Hospital มีเป้าประสงค์ให้เกิดการสร้างกลไกระบบ และกิจกรรมของสถานพยาบาล ที่สนับสนุนการสร้างความตระหนักรู้ฯ เพื่อให้เกิดการ เปลี่ยนแปลงพฤติกรรมการใช้ยาของบุคลากรทางการแพทย์และผู้รับบริการให้มี ความสอดคล้องกับหลักเกณฑ์ในการใช้ยาอย่างสมเหตุผล และต่างมีเจตคติที่ดี จน ได้รับการยอมรับเป็นวัฒนธรรมองค์กร และกลายเป็นบรรทัดฐานทางสังคมในหมู่ ประชาชนผู้ใช้ยาซึ่งรวมถึงตัวผู้ป่วยเอง และบุคคลใกล้ชิดที่อาจมีส่วนช่วยเหลือใน การใช้ยาของผู้ป่วย </p>
            </div>
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h3>กุญแจดอกที่ 5</h3>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <label>การดูแลด้านยาเพื่อความปลอดภัยของประชากรกลุ่มพิเศษ
                        <br />(Special Population Care) </label>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-3 align-right key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content">
                <p>การดูแลให้มีการใช้ยาอย่างเหมาะสมแก่ผู้ป่วยที่มีความเสี่ยงต่อผลข้าง เคียงของยา เป็นปัจจัยหนึ่งที่สำคัญในการลดภาวะแทรกซ้อนจากยาต่อผู้รับบริการ </p>
                <p>โครงการ RDU Hospital มีเป้าประสงค์ให้เกิดกลไก ระบบ และมาตรการ ในระบบยาของสถานพยาบาล ที่สนับสนุนให้เกิดการใช้ยาอย่างรอบคอบ ระมัดระวัง ในประชากรกลุ่มพิเศษ และกลไกดังกล่าวถูกนำไปใช้อย่างมีประสิทธิภาพในการ ป้องกันอันตรายจากการใช้ยาในส่วนที่สามารถป้องกันได้ โดยได้จัดทำคำแนะนำและตัวชี้วัดสำหรับการดูแลด้านยาเพื่อความปลอดภัยของประชากรกลุ่มพิเศษ 6 กลุ่ม ได้แก่ 1) ผู้สูงอายุ 2) สตรีตั้งครรภ์ 3) สตรีให้นมบุตร 4) ผู้ป่วยเด็ก 5) ผู้ป่วย โรคตับ และ 6) ผู้ป่วยโรคไตเรื้อรัง เพื่อลดภาวะแทรกซ้อนจากยาในผู้รับบริการ กลุ่มพิเศษ สอดคล้องกับมาตรฐานตามตัวชี้วัดที่ได้รับการกำหนดขึ้น
                </p>
            </div>
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <h3>กุญแจดอกที่ 6</h3>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <label>การส่งเสริมจริยธรรมและจรรยาบรรณทางการแพทย์ในการสั่งใช้ยา
                        <br />(Ethics in Prescription) </label>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-3 align-right key">
                    <img src="images/home/key.png">
                </div>
            </div>
            <div class="col-md-12 col-xs-12 content">
                <p>โครงการ RDU Hospital มีเป้าประสงค์ให้สถานพยาบาลปฏิบัติตาม แนวทางในการคัดเลือกยาและการสั่งใช้ยาที่เป็นไปตามเกณฑ์จริยธรรมว่าด้วยการ ส่งเสริมการขายยาของประเทศไทย รวมถึงการจัดให้เกิดกลไก ระบบ และมาตรการ ตามข้อกำหนดในการมีปฏิสัมพันธ์กับบริษัทยา ซึ่งผลลัพธ์ที่ได้คือกระบวนการนำยาเข้าและออกจากสถานพยาบาลมีความโปร่งใส ตรวจสอบได้ ไม่ตกอยู่ในอิทธิพล ของการส่งเสริมการขายยาที่ขาดจริยธรรม และเป้าประสงค์ในระดับบุคลากร ให้มี การสั่งใช้ยาภายใต้แนวทางของการใช้ยาอย่างสมเหตุผล ตรงตามหลัก จริยธรรมทางการแพทย์ โดยคำนึงถึงการสั่งใช้ยาที่เป็นประโยชน์แก่ผู้รับบริการจริง ผลกระทบที่อาจเกิดขึ้นจากการใช้ยา ความเท่าเทียมของผู้รับบริการ และการเคารพ ในสิทธิผู้ป่วย
                </p>
            </div>
        </div>
    </div>
</section>
