<section id="multimedia">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 topic">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <h2>คลิปวีดีโอ ความรู้สำหรับประชาชน เพื่อส่งเสริมความปลอดภัยด้านยา</h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 seperate">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                <ol>
                    <li>
                        <div>
                            <label>สภาวะปัจจุบันของระบบสุขภาพกับการใช้ยาของผู้ป่วย</label>
                        </div>
                        <iframe src="https://www.youtube.com/embed/mm5uWG4SdtI?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <div>
                            <label>ข้อปฏิบัติเมื่อผู้ป่วยมารับยาจากเภสัชกร</label>
                        </div>
                        <iframe src="https://www.youtube.com/embed/2qOVMs4H2Sw?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <div>
                            <label>รู้จักยา และรู้จักใช้ยาอย่างไรให้เกิดประโยชน์สูงสุดและอาการไม่พึงประสงค์จากการใช้ยา</label>
                        </div>
                        <iframe src="https://www.youtube.com/embed/kArAI2wskHY?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <div>
                            <label>ใช้ยาอย่างไรให้ถูกวิธี และการเก็บรักษายาไม่ให้เสื่อมคุณภาพ</label>
                        </div>
                        <iframe src="https://www.youtube.com/embed/p4_hlVm4NVs?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <div>
                            <label>ปัญหาจากการใช้ยาที่มากเกินไป การใช้ยาซ้ำซ้อน หรือการใช้ยาหมดอายุ</label>
                        </div>
                        <iframe src="https://www.youtube.com/embed/M3aEPkrHTm0?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                    </li>
                    <li>
                        <div>
                            <label>การแพ้ยา และอาการแพ้ยา</label>
                        </div>
                        <iframe src="https://www.youtube.com/embed/HfgwDM250b0?list=PLhREouoExlICK7Rrpg2dh4pkT82Jv-zt1" frameborder="0" allowfullscreen></iframe>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
