<section id="label">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 topic text-center">
                <img src="/images/home/typo_l.png">
                <label>ฉลากยา และฉลากยาเสริม</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 content">
                XXX
            </div>
        </div>
    </div>
</section>
