<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 topic">
                <div class="col-md-2 col-sm-2 col-xs-2 text-center alphabet">
                    <img src="/images/home/typo_s.png">
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <label>ความรู้สำหรับประชาชน เพื่อส่งเสริมความปลอดภัยด้านยาในประชากรกลุ่มพิเศษ</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-4 menu">
                <div data-show-image="#image1" class="col-md-12 col-sm-12 col-xs-12 rounded">การใช้ยาในเด็ก</div>
                <div data-show-image="#image2" class="col-md-12 col-sm-12 col-xs-12 rounded">การใช้ยาในหญิงมีครรภ์</div>
                <div data-show-image="#image3" class="col-md-12 col-sm-12 col-xs-12 rounded">การใช้ยาในหญิงให้นมบุตร</div>
                <div data-show-image="#image4" class="col-md-12 col-sm-12 col-xs-12 rounded">การใช้ยาในผู้ป่วยโรคไต</div>
                <div data-show-image="#image5" class="col-md-12 col-sm-12 col-xs-12 rounded">การใช้ยาในผู้ป่วยโรคตับ</div>
                <div data-show-image="#image6" class="col-md-12 col-sm-12 col-xs-12 rounded">การใช้ยาในผู้สูงอายุ</div>
                <!-- <div data-show-image="#image7" class="col-md-12 col-sm-12 col-xs-12 rounded">การแพ้ยา</div> -->
            </div>
            <div class="col-md-9 col-sm-9 col-xs-8 content">
                <!-- <img  src="/images/block.png" alt="" style="height:450px;"> -->
                <img id="image1" class="col-md-12 col-sm-12 col-xs-12" src="/images/block.png" data-src="/images/people/kid.jpg" />
                <img id="image2" class="col-md-12 col-sm-12 col-xs-12" src="/images/block.png" data-src="/images/people/preg.jpg" />
                <img id="image3" class="col-md-12 col-sm-12 col-xs-12" src="/images/block.png" data-src="/images/people/lactation.jpg" />
                <img id="image4" class="col-md-12 col-sm-12 col-xs-12" src="/images/block.png" data-src="/images/people/renal.jpg" />
                <img id="image5" class="col-md-12 col-sm-12 col-xs-12" src="/images/block.png" data-src="/images/people/liver.jpg" />
                <img id="image6" class="col-md-12 col-sm-12 col-xs-12" src="/images/block.png" data-src="/images/people/geriatric.jpg" />
            </div>
        </div>
    </div>
</section>
