<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 topic">
                <div class="col-md-2 col-xs-2 text-center alphabet">
                    <img src="/images/home/typo_s.png">
                </div>
                <div class="col-md-10 col-xs-10">
                    <label>ความรู้สำหรับประชาชน เพื่อส่งเสริมความปลอดภัยด้านยาในประชากรกลุ่มพิเศษ</label>
                </div>
            </div>
        </div>
    </div>
</section>
