<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h3>People</h3>
            </div>
        </div>
    </div>
</section>
